<!doctype html>
<html lang="en" ng-app="VotingApp">
  <head>
    <title>Voting App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/angular-notify.min.css" type="text/css"/>
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css"/>
    <!--<link rel="stylesheet" href="css/angular-ui-notification.min.css">-->
    <!--<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <!--<script src="/socket.io/socket.io.js"></script>-->
    <base href="/">
    </head>
    <body>
      <div ng-controller="MainController" class="screenHight">
  <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="/">VOTING APP</a>
            </div>
            <ul class="nav navbar-nav">
              <li><a href="/">Home</a></li>
              <!-- <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Page 1-1</a></li>
                  <li><a href="#">Page 1-2</a></li>
                  <li><a href="#">Page 1-3</a></li>
                </ul>
              </li> -->
              <li><a href="#!all" >All Polls</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li ><a ng-show="!isDisabled" href="#!register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
              <li ><a ng-show="!isDisabled" href="#!login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
              <li ng-show="isDisabled" ng-controller="logoutController"><a href="#" ng-click='logout()'><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
               <li ng-show="isDisabled"><a href="#!profile"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
            <!--ng-show="!isDisabled"-->
            </ul>
          
          </div>
      </nav>
      
      <div class="container-fluid">
          <!--<p>{{username}}</p>-->
          <div ng-view></div> 
            <!-- Poll -->
            <!-- <poll items="userPoll.pollItems"></poll> -->
            
          </div>
          </div>
        <!--<div ng-controller="logoutController">-->
        <!--      <a ng-click='logout()' class="btn btn-default">Logout</a>-->
        <!--</div>-->

          <footer>
              <p class="copyright text-muted small footerText">Copyright &copy; 2017. All Rights Reserved</p>
            </footer>
      <script src="js/jquery.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
      <script src="js/angular.min.js"></script>
      <script src="js/angular-route.min.js"></script>
      <!--<script src="js/angular-ui-notification.min.js"></script>-->
      <script src="js/angular-notify.min.js"></script>
      
      <script src="js/controllers/Controllers.js"></script>
      <script src="js/directives/directives.js"></script>
      <script src="js/controllers/ng-routes.js"></script>
      <script src="js/services/services.js"></script>
      <script src="js/controllers/authControllers.js"></script>
       <script src="js/scripts.js"></script>
      <!--<script src="js/directives/pollTemp.js"></script>-->
   

   
</body>
</html>
