<div class="row header">
        <div class="col-md-12 header-col">
          <h1>Dashboard</h1>
          <a href="/new" class="btn btn-custom">New Poll</a>
          <!-- <button type="button" class="btn btn-custom">My Polls</button> -->
        </div>
      </div>
       <div  class="row my-polls" ng-repeat="item in userPoll" ng-click="SelectedUserPoll($index)">
            
               <div class="col-md-10"  >
                   <!--<a href="#!selected" > </a>-->
               {{item.question}} 
           </div>
           
           <!--<div class="col-md-2"  >-->
           <!--     <button type"button" href="#!new" class="btn btn-danger">Delete</button>-->
           <!-- </div>-->
       
        </div>
     
       