<h1 class="page-header">About</h1>
<div class="row">
    <div class="col-md-12">
        <h3>Description</h3>
        <p class="about-text">Voting App is a full-stack project for freeCodeCamp.</p>
    </div>
    <div class="col-md-12">
        <h3>Frontend Libraries</h3>
        <div class="features about-features">
            Angularjs
        </div>
        <div class="features about-features">
            Bootstrap
        </div>
        <div class="features about-features">
            Google Charts
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Backend Libraries</h3>
        <div class="features about-features">
            Node.js
        </div>
        <div class="features about-features">
            Express
        </div>
        <div class="features about-features">
            MongoDB
        </div>
        <div class="features about-features">
            Passportjs
        </div>
    </div>
</div>